<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Decanté App{% endblock %}</title>
		<style>
			body {
				font-family: sans-serif;
				margin: 0;
				padding: 0;
				background: #f8f8f8;
			}
			nav {
				background: #111;
				color: #fff;
				padding: 1rem;
				display: flex;
				justify-content: space-around;
			}
			nav a {
				color: #fff;
				text-decoration: none;
				font-weight: bold;
			}
			nav a:hover {
				text-decoration: underline;
			}
			.container {
				padding: 1rem;
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="{% url 'lista_pedidos' %}">Pedidos</a>
			<a href="{% url 'lista_deudores' %}">Deudores</a>
		</nav>

		<div class="container">{% block content %} {% endblock %}</div>
	</body>
</html>
